@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* Define your theme variables here */
  --color-primary: #C1443C;
  --color-secondary: #C1443C;
}

@layer utilities {
  /* Define the gradient as a reusable background utility */
  .bg-primary-gradient {
    background: linear-gradient(to right, #C1443C, #bb817d);
  }
  .text-gradient {
    background: linear-gradient(to right, #C1443C, #bb817d);
    background-clip: text;
    color: transparent; /* Makes the original text color invisible so the gradient shows */
    display: inline-block; /* Required for the gradient to render correctly on text */
  }
}

@layer utilities {
  .bg-hero-gradient {
    background: linear-gradient(
      to right, 
      color-mix(in srgb, #C1443C 5%, transparent), 
      color-mix(in srgb, #C1443C 25%, transparent)
    );
  }
}